@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Aventure Page";

    string monTitre = "ceci est le titre - Aventure";
}

<h1>@monTitre</h1>

<h2>Découvrons les aventures passées</h2>